Flask==3.0.3
Flask-Cors==4.0.1

python-dotenv==1.0.1
PyMySQL==1.1.1
cryptography>=42.0.0

Pillow>=11.0.0
numpy>=1.26.0
scikit-learn>=1.3.0
joblib>=1.3.0

easyocr==1.7.2
opencv-python-headless==4.10.0.84

torch
torchvision

gunicorn==23.0.0